* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.main {
  padding: 0 83px;
}

.wrapper {
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

.main__block_first {
  display: flex;
  flex-wrap: wrap;
  margin-top: 201px;
}

.main__block_item {
  display: flex;
  position: relative;
}

.main__block_item:first-child {
  width: 50%;
}

.main__block_item:nth-child(2) {
  width: 25%;
}

.main__block_item a {
  position: absolute;
  right: -8px;
  top: -7px;
  cursor: pointer;
}

.main__block_item a > img{
  width: 50px;
  height: 35px;
}

.main__block_item:nth-child(3) {
  width: 25%;
}

.main__block_item:nth-child(4) {
  width: 50%;
}

.main__block_item:nth-child(5) {
  width: 50%;
}

.main__block_item:nth-child(6) {
  width: 75%;
}

.main__block_item:nth-child(7) {
  width: 25%;
}

.main__block_item:nth-child(8) {
  width: 25%;
}

.main__block_item:nth-child(9) {
  width: 25%;
}

.main__block_item:nth-child(10) {
  width: 25%;
}

.main__block_item:nth-child(11) {
  width: 25%;
}

.main__block_text {
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: 7px;
}

.main__block_input {
  width: 100%;
  border: none;
  font-size: 14px;
  border-bottom: 1px solid rgba(0,0,0,.5);
  font-style: italic;
  line-height: 0;
}

.main__block_input:focus {
  outline: none;
}
